body {
}

.container-fluid {
    padding: 0;
}

.banner {
    width: 100%;
    max-width: 100%;
}

.ban {
    width: 100%;
    max-width: 100%;
}

    .ban img {
        width: 1110px;
        max-width: 100%;
}
